[Unit]
Description=devicectrl server
Wants=network-online.target
After=network-online.target

[Service]
Type=notify

MountAPIVFS=true
DynamicUser=true
RemoveIPC=true
CapabilityBoundingSet=
PrivateDevices=true
PrivateUsers=true
ProtectSystem=strict
ProtectHome=true
ProtectKernelTunables=true
ProtectKernelModules=true
ProtectControlGroups=true
ProtectClock=true
ProtectKernelLogs=true
ProtectHostname=true
LockPersonality=true
NoNewPrivileges=true
MemoryDenyWriteExecute=true
RestrictRealtime=true
RestrictNamespaces=true
SystemCallFilter=@system-service
SystemCallFilter=~@resources
SystemCallFilter=~@privileged
SystemCallErrorNumber=EPERM
SystemCallArchitectures=native
TasksMax=256
RestrictAddressFamilies=AF_INET AF_INET6 AF_UNIX
IPAddressAllow=192.168.1.0/24 192.168.2.0/24 100.64.0.0/24
IPAddressDeny=any
UMask=0077
ProtectProc=invisible
ProcSubset=pid
LoadCredential=server.key:/etc/ssl/private/server.key
LoadCredential=ca.pem:/etc/ssl/certs/ca.pem
LoadCredential=server.crt:/etc/ssl/certs/server.crt

Environment=CONFIG_PATH=/etc/devicectrl-server/config.json
Environment=LOG_LEVEL=debug
ExecStart=/usr/local/bin/devicectrl-server

Restart=always

[Install]
WantedBy=multi-user.target
